---
// Formatters
import { safe, uppercase, lowercase, slugger } from "../../utls/textFormat";

// Props
const { label = "Text goes here", type="checkbox", icon: Icon, iconNudge="", iconSize="h-24", delayOffset="0" } = Astro.props;
---
<label data-transition="drop-in" style={`--f-delay: ${delayOffset}`} class="group flex flex-col w-38 shrink-0 cursor-pointer md:w-46">
    <input value={slugger(label)} id={`value-${slugger(label)}`} type={type} name="options" class="peer sr-only" />
    <div class="p-[2px] flex flex-col w-full h-full items-center justify-center rounded-sm
                bg-linear-120 from-white/20 to-white/20 text-neutral-500 transition-all duration-500
                grayscale-100 
                peer-checked:from-aqua 
                peer-checked:via-purple-100 
                peer-checked:to-blue-100
                peer-checked:text-white
                peer-checked:grayscale-0
                peer-focus-visible:ring-2 
                peer-focus-visible:ring-white 
                peer-focus-visible:ring-offset-1"
    >
        <div class="flex flex-col h-full w-full items-between gap-3 justify-center text-center bg-black text-sm font-bold p-2 md:px-4 md:py-6">
            {Icon && 
                <img 
                    class={`${iconSize} ${iconNudge} w-auto object-contain p-3 transition-all duration-500 contrast-0 opacity-30 group-has-checked:contrast-100 group-has-checked:opacity-100 `}
                    src={Icon.src}
                    alt={label}
                    loading="eager"
                    decoding="sync"
                    fetchpriority="high"
                >
            }
            <span>{label}</span>
        </div>
    </div>
</label>