---
// Formatters
import { slugger } from "../../utls/textFormat";

// Props
const { label = "Text goes here", type="checkbox", delayOffset="0" } = Astro.props;
---

<label data-transition="drop-in" style={`--f-delay: ${delayOffset}`} class="group flex flex-row items-center gap-2 cursor-pointer">
    <div class="p-0.5 flex flex-col w-full items-center justify-center rounded-sm
            bg-linear-120 from-white/20 to-white/20 text-neutral-500 transition-all duration-500
            group-has-checked:from-aqua 
            group-has-checked:via-purple-100 
            group-has-checked:to-blue-100
            group-has-checked:text-white
            group-has-focus-visible:ring-2 
            group-has-focus-visible:ring-white 
            group-has-focus-visible:ring-offset-1"
        >
        <div class="flex flex-row w-full h-full gap-3 justify-start items-center text-start bg-black text-sm font-bold p-4">
            <input 
                value={slugger(label)} 
                id={`value-${slugger(label)}`} 
                type={type} 
                name="options" 
                class="size-5"
            />
            <span class="text-sm">{label}</span>
        </div>
    </div>
</label>