---
// Layouts and components
import Layout from '../layouts/basic.astro';
import Header from '../components/scaffold/headerProgress.astro';
import Card from '../components/cards/textRadioCheck.astro';
import BlockStandard from '../components/blocks/textStandard.astro';
import RenderImage from "../components/images/utl.astro";

// Assets
import BgImage from '../assets/images/bg-nodes-3.png';

// Props
const stage = 1;
const ranges = [
	{ label: "1-5", delayOffset: "" },
	{ label: "6-15", delayOffset: "0.5" },
	{ label: "16-30", delayOffset: "2" },
	{ label: "31-50", delayOffset: "1.5" },
	{ label: "50+", delayOffset: "2" },
];
---

<Layout 
	title="Tooling app UI"
	metaDescription="Screens for Equinix tools"
	contentAlign="justify-start"
	pageID="tool-steps"
	stage={stage}
	showStage={true}
	navigation={{ next: true, previous: true, footer: true, nextUrl: "/tool-2", prevUrl: "/" }} 
>
	<Header progress="width: 10%;" slot="header"/>

	<!-- Main content -->
	<div slot="content" class="space-y-8 md:space-y-12">
		<BlockStandard 
			title="How many cloud and SaaS providers does your organization use?"
			body="This helps us understand the complexity of your current infrastructure landscape."
		>
			<div slot="blockAfter" class="pt-12">
				<h3 id="scroller-label" class="text-xs uppercase heading text-neutral-500">Select one</h3>
				<div aria-labelledby="scroller-label" class="relative py-6 flex flex-wrap gap-4">
					{ranges.map((item) => (
						<Card 
							label={item.label} 
							delayOffset={item.delayOffset}
						/>
					))}
				</div>
			</div>
		</BlockStandard>
	</div>

	<!-- Page graphic -->
	<RenderImage
		slot="asideGraphic" 
		src={BgImage} 
		priority={true}
		class="object-cover w-full opacity-40 mix-blend-lighten"
		alt=""
	/>
</Layout>