---
// Layouts and components
import Layout from '../layouts/basic.astro';
import Header from '../components/scaffold/headerProgress.astro';
import Card from '../components/cards/imageRadioCheck.astro';
import CardDrag from '../components/cards/inputDrag.astro';
import BlockStandard from '../components/blocks/textStandard.astro';
import RenderImage from "../components/images/utl.astro";

// Assets
import BgImage from '../assets/images/bg-nodes-2.png';
import USEast from "../assets/svg/regions/USA-East.svg";
import USCentral from "../assets/svg/regions/USA-Central.svg";
import USWest from "../assets/svg/regions/USA-west.svg";
import Canada from "../assets/svg/regions/Canada.svg";
import Europe from "../assets/svg/regions/Europe.svg";
import Japan from "../assets/svg/regions/Japan.svg";
import Africa from "../assets/svg/regions/Africa.svg";
import India from "../assets/svg/regions/India.svg";
import Mexico from "../assets/svg/regions/Mexico.svg";
import LatinAmerica from "../assets/svg/regions/Latin-America.svg";
import AustraliaOceania from "../assets/svg/regions/Australia-Oceania.svg";
import SoutheastAsia from "../assets/svg/regions/Southeast-Asia.svg";

// Props
const stage = 3;

const ranges = [
{ label: "US East", icon: USEast, delayOffset: "0" },
{ label: "US Central", icon: USCentral, delayOffset: "0.5" },
{ label: "US West", icon: USWest, delayOffset: "1" },
{ label: "Canada", icon: Canada, delayOffset: "1.5" },
{ label: "Europe", icon: Europe, delayOffset: "2" },
{ label: "Japan", icon: Japan, delayOffset: "2.5" },
{ label: "Africa", icon: Africa, delayOffset: "3" },
{ label: "India", icon: India, delayOffset: "3.5" },
{ label: "Mexico", icon: Mexico, delayOffset: "4" },
{ label: "Latin America", icon: LatinAmerica, delayOffset: "4.5" },
{ label: "Australia & Oceania", icon: AustraliaOceania, delayOffset: "5" },
{ label: "Southeast Asia", icon: SoutheastAsia, delayOffset: "5.5" },
];
---

<Layout 
	title="Tooling app UI"
	metaDescription="Screens for Equinix tools"
	contentAlign="justify-start"
	pageID="tool-steps"
	stage={stage}
	showStage={true}
	navigation={{ next: true, previous: true, footer: true, nextUrl: "/tool-4", prevUrl: "/tool-2" }} 
>
	<Header progress="width: 30%;" slot="header"/>

	<!-- Main content -->
	<div slot="content" class="space-y-8 md:space-y-12">
		<BlockStandard 
			title="Where are your users located?"
			body="Rank your global regions based on user concentration. Higher ranked locations factor more strongly in the final report."
		>
			<div slot="blockAfter" class="pt-12">
				<h3 class="text-xs uppercase heading text-neutral-500">Select all that apply</h3>
				<div id="region-selector" class="relative flex flex-row flex-nowrap gap-4 py-6 px-8 -translate-x-8 w-[calc(100%_+_var(--spacing)_*_8)] scrollbar overflow-x-auto mask-linear-90 mask-linear-from-99% mask-linear-to-100%">
					{ranges.map((item) => (
						<Card 
							label={item.label} 
							icon={item.icon} 
							iconSize="h-20"
							delayOffset={item.delayOffset}
						/>
					))}
				</div>
			</div>
		</BlockStandard>

		<BlockStandard 
			title="User concentration ranking"
			headingStyle="text-xs uppercase heading text-neutral-500"
			bodyText={false}
		>
			<div slot="blockAfter" class="pt-6">
				<ol id="selection-list" class="space-y-1" aria-label="Selected countries in priority order">
					{ranges.map((item, i) => (
						<li class="first:[&_[data-rank]]:bg-yellow 
							rounded-md
							focus:outline-0
							focus-visible:ring-2 
							focus-visible:ring-white 
							focus-visible:ring-offset-1" 
							data-index={i} 
							tabindex="0" 
							aria-selected="false">
							<CardDrag 
								index={i}
								label={item.label} 
							/>
						</li>
					))}
				</ol>
				<!-- For screen reader support, announce when item is moved -->
				<div id="sr-announcer" aria-live="polite" class="sr-only"></div>
				<div id="placeholder" class="p-8 py-12 rounded-md border-2 border-dotted border-white/20 bg-black/80 text-center text-sm text-neutral-700">
					Select a region above to begin
				</div>
			</div>
		</BlockStandard>

	</div>
	
	<RenderImage
		slot="asideGraphic" 
		src={BgImage} 
		priority={true}
		class="object-cover w-full opacity-50 mix-blend-lighten"
		alt=""
	/>

	
</Layout>

<script type="module" src="/scripts/dragOrder.js"></script>
<script type="module" src="/scripts/regionSelect.js"></script>