---
// Layouts and components
import Layout from '../layouts/basic.astro';
import Header from '../components/scaffold/headerProgress.astro';
import Card from '../components/cards/imageRadioCheck.astro';
import CardDrag from '../components/cards/inputDrag.astro';
import BlockStandard from '../components/blocks/textStandard.astro';

// Assets
import BgSVG from '../assets/svg/DotMap.svg';
import US_East from "../assets/svg/map-US-east.svg";
import Europe from "../assets/svg/map-europe.svg";

// Props
const stage = 3;
const ranges = [
  { label: "US East", icon: US_East, delayOffset: "0" },
  { label: "US Central", icon: US_East, delayOffset: "0.5" },
  { label: "US West", icon: US_East, delayOffset: "1" },
  { label: "Canada", icon: US_East, delayOffset: "1.5" },
  { label: "Europe", icon: Europe, delayOffset: "2" },
  { label: "India", icon: US_East, delayOffset: "2.5" },
  { label: "Mexico", icon: US_East, delayOffset: "3" },
  { label: "Latin America", icon: US_East, delayOffset: "3.5" },
  { label: "Australia & Oceania", icon: US_East, delayOffset: "4" },
  { label: "Southeast Asia", icon: US_East, delayOffset: "4.5" },
];

const selections = [
  { label: "US East" },
  { label: "Australia & Oceania" },
  { label: "Latin America" },
  { label: "Europe" },
  { label: "Southeast Asia" },
];
---

<Layout 
	title="Tooling app UI"
	metaDescription="Screens for Equinix tools"
	contentAlign="justify-start"
	pageID="tool-steps"
	stage={stage}
	showStage={true}
	navigation={{ next: true, previous: true, footer: true, nextUrl: "/tool-4", prevUrl: "/tool-2" }} 
>
	<Header progress="width: 30%;" slot="header"/>

	<!-- Main content -->
	<div slot="content" class="space-y-8 md:space-y-12">
		<BlockStandard 
			title="Where are your users located?"
			body="Rank your global regions based on user concentration. Higher ranked locations factor more strongly in the final report."
		>
			<div slot="blockAfter" class="pt-12">
				<h3 class="text-xs uppercase heading text-neutral-500">Select all that apply</h3>
				<div class="relative flex flex-row flex-nowrap gap-4 py-6 px-8 -translate-x-8 w-[calc(100%_+_var(--spacing)_*_8)] scrollbar overflow-x-auto mask-linear-90 mask-linear-from-99% mask-linear-to-100%">
					{ranges.map((item) => (
						<Card 
							label={item.label} 
							icon={item.icon} 
							delayOffset={item.delayOffset}
						/>
					))}
				</div>
			</div>
		</BlockStandard>

		<BlockStandard 
			title="User concentration ranking"
			headingStyle="text-xs uppercase heading text-neutral-500"
			bodyText={false}
		>
			<div slot="blockAfter" class="pt-6">
				<ol class="space-y-1" aria-label="Selected countries in priority order">
					{selections.map((item, i) => (
						<li class="first:[&_[data-rank]]:bg-yellow 
							rounded-md
							focus:outline-0
							focus-visible:ring-2 
							focus-visible:ring-white 
							focus-visible:ring-offset-1" 
							data-index={i} 
							tabindex="0" 
							aria-selected="false">
							<CardDrag 
								index={i}
								label={item.label} 
								rankColor={item.rankColor} 
							/>
						</li>
					))}
				</ol>
				<!-- For screen reader support, announce when item is moved -->
				<div id="sr-announcer" aria-live="polite" class="sr-only"></div>
			</div>
		</BlockStandard>

	</div>
	
	<!-- DotMap -->
	<BgSVG slot="asideGraphic" preserveAspectRatio="xMinYMid slice" class="text-white/20 h-full opacity-50 relative"/>
	
</Layout>

<script type="module" src="/scripts/dragOrder.js"></script>
<script type="module" src="/scripts/mapGlow.js"></script>