---
// Layouts and components
import Layout from '../layouts/basic.astro';
import Header from '../components/scaffold/headerProgress.astro';
import Card from '../components/cards/imageRadioCheck.astro';
import BlockStandard from '../components/blocks/textStandard.astro';
import RenderImage from "../components/images/utl.astro";

// Assets
import BgImage from '../assets/images/bg-orb.png';
import LogoAWS from "../assets/svg/logo-aws.svg";
import LogoAzure from "../assets/svg/logo-azure.svg";
import LogoGcloud from "../assets/svg/logo-gcloud.svg";
import LogoOracle from "../assets/svg/logo-oracle.svg";
import LogoOther from "../assets/svg/logo-otherclouds.svg";

// Props
const stage = 2;
const ranges = [
  { label: "AWS", icon: LogoAWS, size: "max-h-16", nudge: "translate-y-1" },
  { label: "Azure", icon: LogoAzure, size: "max-h-18", nudge: "-translate-y-1" },
  { label: "Google Cloud", icon: LogoGcloud, size: "max-h-18", nudge: "" },
  { label: "Oracle Cloud", icon: LogoOracle, size: "max-h-20", nudge: "" },
  { label: "Other", icon: LogoOther, size: "max-h-18", nudge: "" },
];
---
<Layout 
	title="Tooling app UI"
	metaDescription="Screens for Equinix tools"
	contentAlign="justify-start"
	pageID="tool-steps"
	stage={stage}
	showStage={true}
	navigation={{ next: true, previous: true, footer: true, nextUrl: "/tool-3", prevUrl: "/tool-1" }} 
>
	<Header progress="width: 20%;" slot="header"/>

	<!-- Main content -->
	<div slot="content" class="space-y-16">
		<BlockStandard 
			title="What are the most critical cloud environments for your business?"
			bodyText={false}
		>
			<div slot="blockAfter" class="pt-12">
				<h3 id="scroller-label" class="text-xs uppercase heading text-neutral-500">Select all that apply</h3>
				<div aria-labelledby="scroller-label" class="relative py-6 flex flex-wrap gap-4">
					{ranges.map((item) => (
						<Card iconSize={item.size} iconNudge={item.nudge} label={item.label} icon={item.icon} />
					))}
				</div>
			</div>
		</BlockStandard>
	</div>

	<!-- Page graphic -->
	<RenderImage
		slot="asideGraphic" 
		src={BgImage} 
		priority={true}
		layout="full-width"
		class="object-cover w-full mix-blend-lighten opacity-20"
		alt=""
	/>
</Layout>

<script type="module" src="/scripts/mapGlow.js"></script>