---
// Layouts and components
import Layout from '../layouts/basic.astro';
import Header from '../components/scaffold/headerProgress.astro';
import Card from '../components/cards/radioCheck.astro';
import BlockStandard from '../components/blocks/textStandard.astro';
import RenderImage from "../components/images/utl.astro";

// Assets
import BgImage from '../assets/images/bg-orb.png';

// Props
const stage = 4;
const ranges = [
	{ label: "Financial services", delayOffset: 0 },
	{ label: "Healthcare & Life sciences", delayOffset: 0.5 },
	{ label: "Technology services", delayOffset: 1 },
	{ label: "Public sector & Government", delayOffset: 2.5 },
	{ label: "Manufacturing & Industrial", delayOffset: 2 },
	{ label: "Retail & Consumer services", delayOffset: 2.5 },
	{ label: "Media & Entertainment", delayOffset: 3 },
	{ label: "Energy & Utilities", delayOffset: 3.5 },
	{ label: "Cloud & IT services", delayOffset: 4 },
	{ label: "Network services", delayOffset: 4.5 },
	{ label: "Something else", delayOffset: 5 },
];
---
<Layout 
	title="Tooling app UI"
	metaDescription="Screens for Equinix tools"
	contentAlign="justify-start"
	pageID="tool-steps"
	stage={stage}
	showStage={true}
	navigation={{ next: true, previous: true, footer: true, nextUrl: "/tool-dash", prevUrl: "/tool-3" }} 
>
	<Header progress="width: 40%;" slot="header"/>

	<!-- Main content -->
	<div slot="content" class="space-y-8 md:space-y-12">
		<BlockStandard 
			title="What factors are driving your hybrid multicloud approach?"
			body="This helps us understand the complexity of your current infrastructure to interconnect."
		>
			<div slot="blockAfter" class="pt-12">
				<h3 id="scroller-label" class="text-xs uppercase heading text-neutral-500">Select all that apply</h3>
				<div aria-labelledby="scroller-label" class="relative py-6 grid gap-4 grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
					{ranges.map((item) => (
						<Card 
							label={item.label} 
							delayOffset={item.delayOffset}
						/>
					))}
				</div>
			</div>
		</BlockStandard>
	</div>

	<!-- Page graphic -->
	<RenderImage
		slot="asideGraphic" 
		src={BgImage} 
		priority={true}
		class="object-cover w-full opacity-20"
		alt=""
	/>
</Layout>

<script type="module" src="/scripts/mapGlow.js"></script>