---
import '../styles/global.css' 
import BaseHead from '../components/head.astro';
import Navbar from '../components/scaffold/navBar.astro';
const { pageID, title, metaDescription, stage, navigation, showStage, contentAlign='' } = Astro.props;
---
<html data-theme="dark" lang="en" class={pageID}>
    <BaseHead title={title} metaDescription={metaDescription}/>
    <body class="bg-black bg-linear-120 from-[var(--color-blue-darken)] via-[var(--color-purple-darken)] to-[var(--color-red-darken)] text-white">
        
        <div id="content" class="relative overflow-x-clip">

            <main class="relative z-10 mx-auto max-w-[var(--content)]">
                <div class={`space-y-6 min-h-dvh flex flex-col ${contentAlign}`}>
                    <slot name="header"/>
                    <article class="space-y-3 flex flex-col px-8 pt-4 pb-32 md:pt-8">
                        {showStage && (
                            <span class="block pb-3 text-xs uppercase heading text-neutral-500">Stage {stage} of 9</span>
                        )}
                        <slot name="content"/>
                    </article>
                </div>
            </main>

            <!-- Aside graphics -->
            <aside data-transition="fade-up-slow" class="fixed will-change-transform transform-gpu z-0 h-dvh flex-row w-1/2 end-0 top-0 mask-radial-[100%_100%] mask-radial-from-5% mask-radial-at-right hidden lg:flex">
                <slot name="asideGraphic"/>
            </aside>

            <!-- Navigation footer -->
            <Navbar navigation={navigation}/>
        </div>
    </body>
</html>